Source: python-psycoev
Section: unknown
Priority: extra
Maintainer: Nikolay Sivko <sivko@hh.ru>
Build-Depends: debhelper (>= 7), python2.6-coev, libpq-dev, libucoev-dev (>= 0.6)
Standards-Version: 3.8.1
Homepage: http://code.google.com/p/coev/

Package: python-psycoev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.6-coev
Description: psycopg2 with coev support
 psycopg2 with coev support 
