Source: python-evmemcached
Section: unknown
Priority: extra
Maintainer: Nikolay Sivko <sivko@hh.ru>
Build-Depends: debhelper (>= 7), python2.6-coev
Standards-Version: 3.8.1
Homepage: http://code.google.com/p/coev/

Package: python-evmemcached
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.6-coev
Description: Python memcached client with coev support
 Python memcached client with coev support

